.appInputLogin {
	position: relative;
	
	display: flex;
	flex-flow: row wrap;
}


.appPersoInfoWidth50 {
	width: calc(50% - 10px);
	
	margin: 5px;
}


.appPersoInfoWidth100 {
	width: 100%;
	
	margin: 5px;
}


.appInputInfoRegister {
	flex: 1;
	
	padding: 1em 0;
}


.appInputInfoRegister[value] {	
	padding-left: calc(1.5em - 2px);
}


.appInputInfoName,
.appInputInfoIsValidShow,
.appInputInfoIsValidHide {
	position: absolute;
}


.appInputInfoName {
	top: 0;
	left: 1.5em;
	
	transform: translate(0, -50%);
	
	padding: 0 2px; 
	
	background-color: white;
}


.appInputInfoIsValidShow,
.appInputInfoIsValidHide {
	top: 50%;
	right: 0;
	
	transform: translate(0, -50%);
}


.appInputInfoIsValidShow {
	display: flex;
}


.appInputInfoIsValidHide {
	display: none;
}
