.appInputParent {
	position: relative;
	
	display: flex;
	flex-flow:  column wrap;
	
	padding: 8px 0;
	
	/*border: 1px solid red;*/
}


.appPersoInfoWidth50 {
	width: calc(50% - 10px);
	
	margin: 5px;
}


.appPersoInfoWidth100 {
	width: 100%;
	
	margin: 5px;
}


.appInputContainer {
	flex: 1;
	
	width: 100%;
	height: 100%;
	
	padding: 1em 0;
	
	border: 1px solid #ececed;
}


.appInputContainer[value] {
	font-size: 15px;
	
	padding-left: 8px;
	
	color: red;
	
	line-height: 22px;
	
	color: #595964;
}


.appInputInfoTitle,
.appInputInfoIsValidShow,
.appInputInfoIsValidHide {
	position: absolute;
}


.appInputTitle {
	position: absolute;
	
	top: 8px;
	left: 8px;
	
	transform: translate(0, -50%);
	
	font-size: 11px;
	line-height: 14px;
	color: #4c4c55;
	
	background-color: #ffffff;
}


.appInputInfoIsValidShow,
.appInputInfoIsValidHide {
	top: 50%;
	right: 1em;
	
	transform: translate(0, -50%);
}


.appInputInfoIsValidShow {
	display: flex;
}


.appInputInfoIsValidHide {
	display: none;
}

