.landPageTemplates {
	display: flex;
	flex-flow: column wrap;
}


.landPageTemplatesHeader,
.landPageTemplatesSearch {
	display: flex;
	flex-flow: row wrap;
	
	align-items: center;
}


.landPageTemplatesHeader > h6 {
	font-size: 13px;
}


.landPageTemplatesHeader > img,
.landPageTemplatesSearch > img {
	margin-right: 0.5em;
	
	width: 16px;
	height: 16px;
}


.landPageTemplatesHeader,
.landPageTemplatesSearch {	
	align-items: center;
	
	padding: 0.5em 0;
}


.landPageTemplatesSearch > input {
	border: 0 solid red;
}


.landPageTemplatesSearch > input::placeholder {
	font-weight: bold;
	color: black;
	opacity: 1;
}


.landPageTemplatesWork,
.landPageTemplatesAnotherWorks {
	display: flex;
	flex-flow: column wrap;
}


.landPageTemplates > ul {
	display: flex;
	flex-flow: column wrap;
}


.landPageTemplates > ul > li {
	display: flex;
	flex-flow: row wrap;
	
	align-items: center;
	
	padding: 0.5em 0;
}


.landPageTemplates > ul > li > img {
	margin-right: 0.5em;
}


