.landPageBoards {
	display: flex;
	flex-flow: column wrap;
}


.landPageBoardsHeader {
	display: flex;
	flex-flow: row wrap;
	
	justify-content: center;
	
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}


.landPageBoardsHeader > img {
	width: 16px;
	height: 16px;
}


.landPageBoardsHeader > h5 {
	flex: 1;
	
	color: #14141f;
	font-size: 13px;
}


.landPageBoardsHeader > img:first-child {
	margin-right: 0.5em;
}



.landPageBoards > ul {
	display: flex;
	flex-flow: column wrap;
}


.landPageBoards > ul > li {
	display: flex;
	flex-flow: row wrap;
	
	padding: 0.5em 0;
}

.landPageBoards > ul > li > img {
	margin-right: 0.5em;
}


