.landPageLeftBottomSide {
	display: flex;
	flex-flow: row;
	
	align-items: center;
}


.landPageLeftBottomSide > p {
	flex: 1;
}


.landPageLeftBottomSideImage {
	border-radius: 50%;
	
	margin-right: 3px;
}	
