.landPagePremiumCard {
	display: flex;
	flex-flow: row wrap;
	
	width: 100%;
	
	padding: 1.5em 1em;
	
	border-radius: 0.5em;
	
	background-color: #008b5d;
}


.landPagePremiumCardLeft {
	width: 10%;
	height: auto;
}


.landPagePremiumCardRight {
	width: 90%;
}


.landPagePremiumCard > img {
	width: 72px;
	height: 72px;
	
	margin-right: 1em;
}


.landPagePremiumCardRight > h5 {
	color: #ffffff;
	
	font-size: 24px;
	
	margin-bottom: 0.25em;
}


.landPagePremiumCardRight > p {
	color: #ffffff;
	
	font-size: 15px;
	
	line-height: 22px;
}
